@mixin WH100per {
  width: 100%;
  height: 100%;
}

@mixin WH100perAc {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

@mixin WH100perAcJc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@mixin opacity_0 {
  opacity: 0;
}
